<div class="add_input_div">
  <input class="fio_input" type="text" placeholder="ФИО" id="name" required />
  <input class="phone_input" type="text" placeholder="Телефон" id="phone" required/>
</div>
<div class="add_buttons_div">
  <button class="add_button" id="add_button">Добавить</button>
  <button class="add_button"><a href="/">Отказаться</a></button>
</div>