<div class="add_input_div">
  <input class="fio_input" type="text" placeholder="ФИО" id="name" required value="{{name}}"/>
  <input class="phone_input" type="text" placeholder="Телефон" id="phone" required value={{phone}} disabled/>
</div>
<div class="add_buttons_div">
  <button class="add_button" id="update_button">Изменить</button>
  <button class="add_button" id="remove_button">Удалить</button>
  <button class="add_button"><a href="/">Отказаться</a></button>
</div>